#services
    padding: 80px 0
    width: 100%
    h1
        font-weight: 700
        font-size: 55px
    h3
        font-size: 22px
        color: #777575
        margin: 20px 0 65px
    .box
        width: 360px
        height: 380px
        .minibox
            display: inline-block
            width: 140px
            height: 140px
            background-color: #f2c13a
            border-radius: 70px
            .icon
                text-align: center
                font-size: 70px
                color: #ffff
                margin-top: 30px
        .textbox
            h2
                font-weight: 700
                font-size: 30px
                margin: 15px 20px
            h4
                font-size: 20px
                color: #868484
                line-height: 1.4
    @media screen and ( max-width: 1200px )
        .box
            width: 305px
            .textbox
                width: 310px
    @media screen and ( max-width: 992px )
        .box
            width: 220px
            .textbox
                width: 216px
    @media screen and ( max-width: 768px )
        .box
            width: 520px
            height: 310px
            .textbox
                width: 520px
    @media screen and ( max-width: 529px )
        .box
            width: 480px
            .textbox
                width: 487px
    @media screen and ( max-width: 478px )
        .box
            width: 440px
            .textbox
                width: 427px
    @media screen and ( max-width: 464px )
        .box
            width: 396px
            .textbox
                width: 400px
    @media screen and ( max-width: 433px )
        .box
            .textbox
                width: 395px
    @media screen and ( max-width: 415px )
        .box
            width: 363px
            height: 340px
            .textbox
                width: 365px
    @media screen and ( max-width: 398px )
        .box
            .textbox
                width: 360px
    @media screen and ( max-width: 356px )
        .box
            width: 310px
            .textbox
                width: 320px
    @media screen and ( max-width: 344px )
        .box
            .textbox
                width: 310px
    @media screen and ( max-width: 337px )
        .box
            width: 295px
            height: 360px
            .textbox
                width: 300px
    @media screen and ( max-width: 314px )
        .box
            width: 260px
            .textbox
                width: 267px
    @media screen and ( max-width: 278px )
        .box
            width: 230px
            height: 405px
            .textbox
                width: 233px
    @media screen and ( max-width: 230px )
        .box
            width: 195px
            height: 440px
            .textbox
                width: 190px
    @media screen and ( max-width: 201px )
        .box
            width: 140px
            height: 500px
            .textbox
                width: 145px
